In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [5]:
hlt = pd.read_csv("health_data.csv")
hlt.head()

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,medianage,...,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

In [7]:
hlt.isna().sum()

avganncount                   0
avgdeathsperyear              0
target_deathrate              0
incidencerate                 0
medincome                     0
popest2015                    0
povertypercent                0
studypercap                   0
binnedinc                     0
medianage                     0
medianagemale                 0
medianagefemale               0
geography                     0
percentmarried                0
pctnohs18_24                  0
pcths18_24                    0
pctsomecol18_24            2285
pctbachdeg18_24               0
pcths25_over                  0
pctbachdeg25_over             0
pctemployed16_over          152
pctunemployed16_over          0
pctprivatecoverage            0
pctprivatecoveragealone     609
pctempprivcoverage            0
pctpubliccoverage             0
pctpubliccoveragealone        0
pctwhite                      0
pctblack                      0
pctasian                      0
pctotherrace                  0
pctmarriedhouseholds          0
birthrate                     0
dtype: int64

In [29]:
hlt_records_dropped = hlt.dropna(axis=0, how='any')
hlt_records_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591 entries, 1 to 3046
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   avganncount              591 non-null    float64
 1   avgdeathsperyear         591 non-null    int64
 2   target_deathrate         591 non-null    float64
 3   incidencerate            591 non-null    float64
 4   medincome                591 non-null    int64
 5   popest2015               591 non-null    int64
 6   povertypercent           591 non-null    float64
 7   studypercap              591 non-null    float64
 8   binnedinc                591 non-null    object
 9   medianage                591 non-null    float64
 10  medianagemale            591 non-null    float64
 11  medianagefemale          591 non-null    float64
 12  geography                591 non-null    object
 13  percentmarried           591 non-null    float64
 14  pctnohs18_24             591 non-null    float64
 15  pcths18_24               591 non-null    float64
 16  pctsomecol18_24          591 non-null    float64
 17  pctbachdeg18_24          591 non-null    float64
 18  pcths25_over             591 non-null    float64
 19  pctbachdeg25_over        591 non-null    float64
 20  pctemployed16_over       591 non-null    float64
 21  pctunemployed16_over     591 non-null    float64
 22  pctprivatecoverage       591 non-null    float64
 23  pctprivatecoveragealone  591 non-null    float64
 24  pctempprivcoverage       591 non-null    float64
 25  pctpubliccoverage        591 non-null    float64
 26  pctpubliccoveragealone   591 non-null    float64
 27  pctwhite                 591 non-null    float64
 28  pctblack                 591 non-null    float64
 29  pctasian                 591 non-null    float64
 30  pctotherrace             591 non-null    float64
 31  pctmarriedhouseholds     591 non-null    float64
 32  birthrate                591 non-null    float64
dtypes: float64(28), int64(3), object(2)
memory usage: 157.0+ KB

In [31]:
hlt_records_dropped.isna().sum()

avganncount                0
avgdeathsperyear           0
target_deathrate           0
incidencerate              0
medincome                  0
popest2015                 0
povertypercent             0
studypercap                0
binnedinc                  0
medianage                  0
medianagemale              0
medianagefemale            0
geography                  0
percentmarried             0
pctnohs18_24               0
pcths18_24                 0
pctsomecol18_24            0
pctbachdeg18_24            0
pcths25_over               0
pctbachdeg25_over          0
pctemployed16_over         0
pctunemployed16_over       0
pctprivatecoverage         0
pctprivatecoveragealone    0
pctempprivcoverage         0
pctpubliccoverage          0
pctpubliccoveragealone     0
pctwhite                   0
pctblack                   0
pctasian                   0
pctotherrace               0
pctmarriedhouseholds       0
birthrate                  0
dtype: int64

In [34]:
hlt_records_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591 entries, 1 to 3046
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   avganncount              591 non-null    float64
 1   avgdeathsperyear         591 non-null    int64
 2   target_deathrate         591 non-null    float64
 3   incidencerate            591 non-null    float64
 4   medincome                591 non-null    int64
 5   popest2015               591 non-null    int64
 6   povertypercent           591 non-null    float64
 7   studypercap              591 non-null    float64
 8   binnedinc                591 non-null    object
 9   medianage                591 non-null    float64
 10  medianagemale            591 non-null    float64
 11  medianagefemale          591 non-null    float64
 12  geography                591 non-null    object
 13  percentmarried           591 non-null    float64
 14  pctnohs18_24             591 non-null    float64
 15  pcths18_24               591 non-null    float64
 16  pctsomecol18_24          591 non-null    float64
 17  pctbachdeg18_24          591 non-null    float64
 18  pcths25_over             591 non-null    float64
 19  pctbachdeg25_over        591 non-null    float64
 20  pctemployed16_over       591 non-null    float64
 21  pctunemployed16_over     591 non-null    float64
 22  pctprivatecoverage       591 non-null    float64
 23  pctprivatecoveragealone  591 non-null    float64
 24  pctempprivcoverage       591 non-null    float64
 25  pctpubliccoverage        591 non-null    float64
 26  pctpubliccoveragealone   591 non-null    float64
 27  pctwhite                 591 non-null    float64
 28  pctblack                 591 non-null    float64
 29  pctasian                 591 non-null    float64
 30  pctotherrace             591 non-null    float64
 31  pctmarriedhouseholds     591 non-null    float64
 32  birthrate                591 non-null    float64
dtypes: float64(28), int64(3), object(2)
memory usage: 157.0+ KB

In [36]:
hlt_records_dropped.describe()

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,medianage,medianagemale,...,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
count,591.000000,591.000000,591.000000,591.000000,591.000000,5.910000e+02,591.000000,591.000000,591.000000,591.000000,...,591.000000,591.000000,591.000000,591.000000,591.000000,591.000000,591.000000,591.000000,591.000000,591.000000
mean,682.316495,199.411168,179.090863,452.657990,47032.851100,1.145526e+05,16.723181,122.729567,45.985787,39.573266,...,48.749069,41.534687,36.193063,19.203215,84.224532,8.727607,1.183705,1.921294,51.318223,5.739657
std,1977.289390,708.330454,27.273580,54.381212,11405.103542,5.043527e+05,6.219356,357.586595,47.697553,5.118305,...,9.920562,9.544078,7.571871,5.960506,15.450720,13.582028,1.969232,3.391412,6.240708,1.899942
min,6.000000,3.000000,94.400000,234.000000,23047.000000,8.290000e+02,4.800000,0.000000,23.200000,23.700000,...,23.700000,16.300000,14.800000,2.600000,11.008762,0.000000,0.000000,0.000000,24.024634,0.413223
25%,87.000000,30.000000,161.350000,425.250000,39305.000000,1.232850e+04,12.000000,0.000000,38.200000,36.600000,...,41.900000,34.750000,30.950000,14.950000,78.083708,0.681788,0.267913,0.284278,48.105663,4.606546
50%,183.000000,64.000000,177.900000,453.549422,45235.000000,2.775500e+04,15.600000,0.000000,40.900000,39.500000,...,49.000000,41.600000,36.500000,18.700000,90.238859,2.450805,0.569827,0.755216,51.673640,5.497771
75%,542.000000,131.000000,195.400000,481.550000,52686.500000,6.621700e+04,19.900000,60.953380,43.600000,42.250000,...,55.900000,48.550000,40.700000,22.900000,95.266834,11.395684,1.197193,2.151791,55.311860,6.706986
max,38150.000000,14010.000000,293.900000,1014.200000,97279.000000,1.017029e+07,45.100000,3657.320182,508.800000,58.500000,...,76.600000,68.800000,62.200000,41.400000,100.000000,84.866024,23.238107,37.610994,71.703057,17.877095

In [39]:
hlt_records_dropped.shape

(591, 33)